body{
  background-color: #dfe4ea !important;
}

.bg {
  color: #f5f5f5;
}

header nav{
  background-color: #1e3799 !important;
}

main{
  overflow-y: scroll;
}

.loadingSize { 
  width: 5rem; height: 5rem; 
}

input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

#quantity {
  text-align: center;
  
}